*.iws
**/.gitignore
!/.gitignore

*Db.properties
*Db.script
.settings
.project
.classpath
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
*/target/*
**/target/**
**/build/**
/build/
*/build/*
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
